@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --alb: white;
    --gri: black;
    --rosu: #d90000;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
body{
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://data.1freewallpapers.com/download/books-library-shelves-lighting-2560x1600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  font-family: "Poppins", sans-serif;
}
.btn{
    text-align: center;
    margin: 50px 400px 0 400px;
    padding: .8rem 3rem;
    color:white;
    font-size:1.7rem;
    cursor:pointer;
    display: block;
}
.btn:hover{
  box-shadow: 0 0 10px 0 #59ACCF inset, 0 0 10px 4px #CF40C5;
  /*background: #59ACCF;
  background: linear-gradient(to right, #59ACCF 0%, #CF40C5 100%);*/
    border-radius: 25px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    background-color: var(--gri);
    box-shadow: 1px 1px 5px 0px #CF40C5;
    position: sticky;
    margin: 0 auto;
    padding: 20px 40px;
}
.nav{
    width: 100%;
    position: fixed;
    background-color: var(--gri);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--alb);
}
.menu a:hover{
    background-color: var(--rosu);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--alb);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--alb);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--rosu);

    }

    .hamb{
        display: none;
    }
    .content{
      width: 100%;
      margin: auto;
      padding: 25% auto 5% auto;
      display: var(--alb);
      text-shadow: 2px 2px 2px gray;
      }
      .content h1{
        font-size: 14px;
        align-items: center;
        margin:30px 0 10px 0;
        padding-top: 30%;

      }
      .content h2{
        font-size: 14px;
          color: white;
          text-align: center;
      }
}

.content{
  text-shadow: 2px 2px 2px gray;
}
.welcome-text a:hover{
    background: var(--alb);
    color: #333;
}
@media only screen and (min-width:920px) {

  .nav-link span{
    background: #59ACCF;
    background: linear-gradient(to right, #59ACCF 0%, #CF40C5 100%);
    padding: 8px 15px;
    border-radius: 4px;
  }
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    margin-top: 30%
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #CF40C5;
}
footer{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;

}

.socials a:hover i{
    color: #CF40C5;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#CF40C5;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  margin-bottom: 20px;
}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: red;
}

@media (max-width:500px) {
.btn{
  margin: 30px 0 0 0;
}
.footer-menu ul{
  display: inline;
}
.footer-menu ul li{
  margin-bottom: 20px;
}
}
.content h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    padding: 7% 0 0 0;
}
.content h2{
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 60px 0 60px 0;
}
.welcome-text a:hover{
    background: var(--alb);
    color: #333;
}
.video{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.video iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
